<div class="h-[100vh] trishan">
  <img
    src="/soulfighter-kv.png"
    alt=""
    class="absolute inset-0 object-cover w-full h-[90%] -z-10 brightness-50"
  />

  <div class="py-52">
    <div class="flex gap-11 flex-col items-center text-white w-[35rem]">
      <img src="/sf-brand-mark.png" alt="Logo" class="w-[22.5rem]" />

      <div class="flex flex-col items-center justify-center gap-4">
        <p class="text-3xl font-bold">Up for a fight?</p>

        <p class="text-xl text-center opacity-60">
          You're invited to the Tournament of Souls.
        </p>
      </div>

      <button
        class="flex items-center justify-center gap-4 bg-[#13b5da] py-3 px-4 rounded-3xl hover:shadow-2xl transition ease-out hover:shadow-[#13b5da]"
      >
        <div class="relative flex items-center justify-center">
          <div class="w-12 h-12 p-2 bg-black rounded-full"></div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={3.5}
            stroke="currentColor"
            class="absolute w-6 h-6 right-3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
          </svg>
        </div>

        <p class="text-3xl font-bold tracking-wider">Learn More</p>
      </button>
    </div>
  </div>
</div>

<style>
  .trishan {
    background: radial-gradient(
      55% 180% at 5% 100%,
      rgba(11, 196, 226, 0.2) 0,
      rgba(10, 10, 10, 0) 75%,
      rgba(10, 10, 10, 0) 100%
    );
  }
</style>
