---
import Logo from "./icons/Logo.astro";
import Globe from "./icons/Globe.astro";
import Punch from "./icons/Punch.astro";
import Button from "./common/Button.astro";
import Search from "./Search.astro";

const textMenus = [
  { name: "WHO WE ARE", href: "" },
  { name: "WORK WITH US", href: "" },
  { name: "NEWS", href: "" },
];
---

<nav
  class="absolute top-0 z-10 flex items-start justify-between pt-7 px-8 w-[100%] text-white"
>
  <div class="flex items-center gap-2 left-nav">
    <div class="flex mr-8 gap-7">
      <Logo />

      <Punch />
    </div>

    {
      textMenus.map((menu) => (
        <div class="text-[13px] font-bold tracking-wider px-4 transition ease-in-out rounded-md py-1 hover:cursor-pointer text-menus">
          {menu.name}
        </div>
      ))
    }
  </div>

  <div class="flex items-center gap-2 text-white right-nav font-primary">
    <Globe />

    <Search />

    <Button buttonTitle="SIGN IN" />
  </div>
</nav>

<style>
  .text-menus:hover {
    background-color: rgba(128, 128, 128, 0.3);
  }
</style>
